@{
    ViewData["Title"] = "Home Page";
    var posts = ViewBag.Posts as List<DataAccess.Models.Post>;
}

<body>
<h1>All Posts</h1>

@if (posts != null && posts.Any())
{
    <ul>
        @foreach (var post in posts)
        {
            <li class="no-bullets">
                <a href="/Thread/Detail/?threadId=@post.ThreadId" class="plain-text-link">
                    <p>t/@post.Thread.Title</p>
                </a>
                <a href="/Post/Detail/?postId=@post.PostId" class="plain-text-link">
                    <h3 class="font-weight-bold">@post.Title</h3>
                </a>
                <p>@post.Content</p>
            </li>
        }
    </ul>
}
else
{
    <p>No posts available.</p>
}

</body>