@{
    ViewData["Title"] = "Home Page";
    var posts         = ViewBag.Posts as List<DataAccess.Models.Post>;
    var followThreads = ViewBag.FollowThreads as List<DataAccess.Models.FollowThread>;
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true"/>
</head>
<body>
<div style="display: flex;">
    <div class="left-scroll-view">
        <ul>
            @if (followThreads != null && followThreads.Any())
            {
                @foreach (var followThread in followThreads)
                {
                    <li class="no-bullets" style="border-bottom: 1px solid; margin-right: 5px">t/@followThread.Thread.Title</li>
                }
            }
        </ul>
    </div>

    <div class="post-list">
        @if (posts != null && posts.Any())
        {
            <ul>
                @foreach (var post in posts)
                {
                    <li class="no-bullets border-vertical">
                        <a href="/Thread/Detail/?threadId=@post.ThreadId" class="plain-text-link">
                            <p>t/@post.Thread.Title</p>
                        </a>
                        <a href="/Post/Detail/?postId=@post.PostId" class="plain-text-link">
                            <h3 class="font-weight-bold">@post.Title</h3>
                        </a>
                        <p>@post.Content</p>
                    </li>
                }
            </ul>
        }
        else
        {
            <p>No posts available.</p>
        }
    </div>
</div>

</body>