<!-- Update Index.cshtml -->
@{
    ViewData["Title"] = "Home Page";
    var posts = ViewBag.Posts as List<DataAccess.Models.Post>;
}

<h1>All Posts</h1>

@if (posts != null && posts.Any())
{
    <ul>
        @foreach (var post in posts)
        {
            <li>@post.Title</li>
        }
    </ul>
}
else
{
    <p>No posts available.</p>
}

<a href="/User/Login/">Login</a> 
<a href="/Post/Create/">Create post</a>