@using DataAccess.Models

@{
    Layout            = null;
    ViewData["Title"] = "Profile";
    var user = ViewBag.User as User;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <p>user.UserName</p>
</div>
</body>
</html>