@{
    ViewBag.Title = "Thread Detail";
    Layout        = "_Layout";
    var thread = ViewBag.Thread as DataAccess.Models.Thread;
    var posts  = ViewBag.Posts as List<DataAccess.Models.Post>;
}
<div>
    <div style="display: flex; align-items: center; justify-content: space-between;">
        <h2>@thread?.Title</h2>
        <form method="post" action="/Thread/Follow/">
            <input type="hidden" name="threadId" value="@thread.ThreadId"/>
            @if (ViewBag.IsFollowed != null && (bool)ViewBag.IsFollowed)
            {
                <button type="submit" class="btn" style="background-color: forestgreen; color: white">Followed</button>
            }
            else
            {
                <button type="submit" class="btn btn-primary">+ Follow</button>
            }
        </form>
    </div>
    <p>Create on: @(((DateTime)thread.CreatedAt).ToString("yyyy-MM-dd"))</p>

    @if (posts != null && posts.Any())
    {
        @foreach (var post in posts)
        {
            <a href="/Post/Detail/?postId=@post.PostId" class="plain-text-link">
                <h3 class="font-weight-bold">@post.Title</h3>
            </a>
            <p>@post.Content</p>
        }
    }
</div>